.container{

    display: flex;
    flex-wrap: wrap;
    background-color: #ccc;
    width: 500px;

}


.item{

    
    background-color: coral;
    margin: 5%;
    width: 80px;
    height: 60px;
    text-align: center;
    line-height: 55px;
}