.container{

    display: flex;
    width: 600px;


}

.box{

    height: 100px;
    flex-grow: 0;

}


.a{

    flex-grow: 1; 
    background-color: coral;
}

.b{
    flex-grow: 2; 
    background-color: blue;
}

.c{
    flex-grow: 3; 
    background-color: green;

}